<% provide(:title, "Editar Anúncios") %>
<h1>Editar Anúncios</h1>


    <%= form_for(@anuncio) do |f| %>
      
  <p>
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </p>
 
  <p>
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </p>
  
  <p>
    <%= f.label :depoimentoDONO %><br>
    <%= f.text_area :depoimentoDONO %>
  </p>
   
   <p>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.submit "Add" %>
  </p>
<% end %>

