<div class="container">
    <div class="row">
    <h1>Cadastrar Anúncios</h1>
    <div class="content">

<%= form_for :anuncio, url: anuncio_index_path, html: { multipart: true } do |f| %>

  <p>
    <%= f.label :titulo %>
    <%= f.text_field :titulo, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.label :descricao %>
    <%= f.text_area :descricao, :class => "form-control" %>
  </p>
  
  <p>
    <%= f.label :depoimentoDONO %>
    <%= f.text_area :depoimentoDONO, :class => "form-control" %>
  </p>
  
  <p>
    <%= f.label :imovel_id %>
    <%= f.text_field :imovel_id, :class => "form-control" %>
  </p>
   
   <p>
    <%= f.label :image %>
    <%= f.file_field :image, :class => "form-control" %>
  </p>
 
  <p>
    <%= f.submit "Cadastrar", :class => "btn btn-primary btn-lg margin-t-10" %>
    <a href="/anuncio" class="btn btn-primary btn-lg margin-t-10">Voltar</a>
  </p>
<% end %>

</div>
</div>
</div>