<div class="container">
    
    <div class="row">
        
        <h1>Registro de Anúncio</h1>

<p>
  <strong>Título:</strong>
  <%= @anuncio.titulo %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @anuncio.descricao %>
</p>


<p>
    <strong>Depoimento do Dono:</strong>
    <%= @anuncio.depoimentoDONO %>
</p>

<p>
    <strong>Identificação do Imóvel:</strong>
    <%= @anuncio.imovel_id %>
</p>

<p>
    <%= image_tag @anuncio.image %>
</p>
</div>
</div>