<div class="container">
    <div class="row">
        <h1>Registro de imóvel</h1>
        
        <div class="content">
            <p>
                <strong>Código:</strong>
                <%= @imovel.codigo %>
            </p>

            <p>
                <strong>Tipo:</strong>
                <%= @imovel.tipo %>
            </p>


            <p>
                <strong>Valor:</strong>
                <%= @imovel.valor %>
            </p>

            <p>
                <strong>Valor IPTU:</strong>
                <%= @imovel.valorIPTU %>
            </p>
            <p>
                <strong>Valor Condomínio:</strong>
                <%= @imovel.valorCondominio %>
            </p>
            <p>
                <strong>Número de Quartos:</strong>
                <%= @imovel.numQUARTOS %>
            </p>
            <p>
                <strong>Número de Suites:</strong>
                <%= @imovel.numSUITES %>
            </p>
            <p>
                <strong>Número de banheiros:</strong>
                <%= @imovel.numBANHEIROS %>
            </p>
            <p>
                <strong>Número de vagas:</strong>
                <%= @imovel.numVAGAS %>
            </p>
            <p>
                <strong>Área Total:</strong>
                <%= @imovel.areaTOTAL %>
            </p>
            <p>
                <strong>Extras:</strong>
                <%= @imovel.extras %>
            </p>

            <a class="btn btn-primary btn-lg margin-t-10" href="/imovel">Voltar</a>
        </div>
    </div>
</div>